@model Mekaniko_Secured.Models.Dto.ChangePasswordDto

<h2>Change Password</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<form asp-controller="Login" asp-action="ChangePassword"  method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" readonly />
    </div>
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" type="password" />
    </div>
    <button type="submit">Change Password</button>
</form>